body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('/public/background.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
} 
.div-placar{
    width: 33% !important;
    color: white;
    font-weight: 700;
}
.container {
    text-align: center;
    padding: 20px;
}

#placar {
    display: flex;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

.title {
    color: white;
}

.label {
    color: white;
}

button, .button-jogar {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2 {
    color: white;
}

#carta-jogador, #carta-maquina {
    height: 530px;
    width: 340px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    border-radius: 33px;
    background-color: #00000030;
    border: 1px solid black;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 5px 10px;
}

.resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weigth: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.carta-subtitle {
        font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px 0px 100px 15px;
    color: white;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carta-status p {
    margin: 5px 10px;
}
 #carta-nome-jogador{
    background-color: black;
    z-index: 10;
 }

 #carta-imagem-jogador{
    background-color: white;
 }

 #carta-atributos-jogador{
    background-color: rgba(0, 0, 255, 0.281);
}
